*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6em; }

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  background-color: lime; }
  @media screen and (min-width: 576px) {
    .container {
      max-width: 540px;
      background-color: red; } }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 720px;
      background-color: orangered; } }
  @media screen and (min-width: 992px) {
    .container {
      max-width: 960px;
      background-color: yellow; } }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1400px;
      background-color: royalblue; } }
