/*-------------------- 
    Font To Import
    Resource: https://font-display.glitch.me/
    Note:
    This depends a lot on how you are using your webfont, and whether rendering the text in a fallback font makes sense. For example, if you're rendering the main body text on a site, you should use font-display:optional. On browsers that implement it (all modern browsers at the time of updating this article in 2019) the experience will be much nicer: your users will get fast content, and if the web font download takes too long, they won't get a page relayout halfway through reading your article.
    If you're using a web font for icons, there is no acceptable fallback font you can render these icons in (unless you're using emoji or something), so your only option is to completely block until the font is ready, with font-display:block.
    -----------------*/

// @font-face {
//     src: url('assets/fonts/source_sans_pro/SourceSansPro-Regular.ttf');
//     font-family: 'SourceSansPro-Regular';
//     font-weight: 400;
//     font-display: swap;
//     /* Swap
//         Instructs the browser to use the fallback font to display the text until the custom font has fully downloaded. This is also known as a “flash of unstyled text” or FOUT.
//     */
// }

/*-------------------- 
        Placeholders
-----------------*/
%headline-font-size {
    font-size: 10rem;

    @include respond(lg) {
        font-size: var(--md-headline);
    }

    @include respond(sm) {
        font-size: var(--sm-headline);
    }
}

%sub-headline-font-size {
    font-size: 4.5rem;

    @include respond(lg) {
        font-size: var(--md-sub-headline);
    }

    @include respond(sm) {
        font-size: var(--sm-sub-headline);
    }
}

%article-headline-font-size {
    font-size: 4rem;

    @include respond(lg) {
        font-size: var(--md-article-headline);
    }

    @include respond(sm) {
        font-size: var(--sm-article-headline);
    }
}

%article-text-font-size {
    font-size: 1.8rem;

    @include respond(lg) {
        font-size: var(--md-article-text);
    }

    @include respond(sm) {
        font-size: var(--sm-article-text);
    }
}

.headline {
    color: #000;
    // &--1 {

    // }

    // &--2 {

    // }
}

/* -------------------- 
        article-paragraph
----------------- */
.para{
    color: var(--color-6);
    @extend %article-text-font-size;
}

/* -------------------- 
        disclaimer
----------------- */
.disclaimer {
    font-size: var(--disclaimer-text);
    color: var(--color-6);

    // disclaimer__link
    &__link {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    // diclaimer--2
    &--2 {
        color: var(--color-1);
    }

}