
/* STAG
================================================> */
// @font-face{
//     src: url('../../assets/fonts/stag/Stag-Bold.otf');
//     font-family: Stag-Bold;
//     font-weight: 700;
// }

// @font-face{
//     src: url('../../assets/fonts/stag/Stag-Boldtalic.otf');
//     font-family: Stag-Boldtalic;
//     font-weight: 700;
// }

// @font-face{
//     src: url('../../assets/fonts/stag/Stag-Book.otf');
//     font-family: Stag-Book;
//     font-weight: 400;
// }

// @font-face{
//     src: url('../../assets/fonts/stag/Stag-Booktalic.otf');
//     font-family: Stag-Booktalic;
//     font-weight: 400;
// }

// @font-face{
//     src: url('../../assets/fonts/stag/Stag-Light.otf');
//     font-family: Stag-Light;
//     font-weight: 400;
// }


/*-------------------- 
        article-paragraph
-----------------*/
.article-paragraph{
    margin-top: 35px;
    font-size: 2rem;
    color: var(--color-6);
}
/*-------------------- 
        disclaimer
-----------------*/
.disclaimer{
    font-size: var(--disclaimer-text);
    color: var(--color-6);

    // disclaimer__link
    &__link{
        color: inherit;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    // diclaimer--2
    &--2{
        color: var(--color-1);
    }

}//END disclaimer