/* ABSTRACTS
================================================> */
/** Bootstrap navbar fix (https://git.io/fADqW) */
@font-face {
  src: url("../../assets/fonts/Microgramma_Com/Microgramma_Com-Bold.woff2");
  font-family: "Microgramma_Com";
  font-weight: 700;
  font-display: swap; }

@font-face {
  src: url("../../assets/fonts/Microgramma_Com/Microgramma_Com-Book.woff2");
  font-family: "Microgramma_Com";
  font-weight: 350;
  font-display: swap; }

@font-face {
  src: url("../../assets/fonts/OpenSans/OpenSans-Bold.woff2");
  font-family: "OpenSans";
  font-weight: 700;
  font-display: swap; }

@font-face {
  src: url("../../assets/fonts/OpenSans/OpenSans-Book.woff2");
  font-family: "OpenSans";
  font-weight: 350;
  font-display: swap; }

@font-face {
  src: url("../../assets/fonts/Stag/Stag-Bold.woff2");
  font-family: "Stag";
  font-weight: 700;
  font-display: swap; }

@font-face {
  src: url("../../assets/fonts/Stag/Stag-Book.woff2");
  font-family: "Stag";
  font-weight: 350;
  font-display: swap; }

@font-face {
  src: url("../../assets/fonts/StagSans/StagSans-Bold.woff2");
  font-family: "StagSans";
  font-weight: 700;
  font-display: swap; }

@font-face {
  src: url("../../assets/fonts/StagSans/StagSans-Book.woff2");
  font-family: "StagSans";
  font-weight: 350;
  font-display: swap; }

/*--------------------
      FLUID TYPE
      REFERER: https://css-tricks.com/snippets/css/fluid-typography/
-----------------*/
/*--------------------
      arrow
      referer: https://www.developerdrive.com/10-best-sass-mixins-for-web-developers/
-----------------*/
/* BASE
================================================> */
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body {
    font-size: 16px; }
    @media screen and (min-width: 300px) {
      body {
        font-size: calc(16px + 4 * ((100vw - 300px) / 1500)); } }
    @media screen and (min-width: 1800px) {
      body {
        font-size: 20px; } }

/* --------------------
    HEADLINES PLACEHOLDERS
----------------- */
.headline--1 {
  font-size: 8rem; }
  @media only screen and (max-width: 64em) {
    .headline--1 {
      font-size: 6.111rem; } }
  @media only screen and (max-width: 48em) {
    .headline--1 {
      font-size: 3.25rem; } }

.headline--2 {
  font-size: 11rem; }
  @media only screen and (max-width: 64em) {
    .headline--2 {
      font-size: 7.222rem; } }
  @media only screen and (max-width: 48em) {
    .headline--2 {
      font-size: 4.375rem; } }

.headline--3 {
  font-size: 7rem; }
  @media only screen and (max-width: 64em) {
    .headline--3 {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 48em) {
    .headline--3 {
      font-size: 3.75rem; } }

.headline--4 {
  font-size: 3.5rem; }
  @media only screen and (max-width: 64em) {
    .headline--4 {
      font-size: 4rem; } }
  @media only screen and (max-width: 48em) {
    .headline--4 {
      font-size: 3rem; } }

.headline {
  font-weight: 400;
  font-family: "OpenSans"; }
  .headline--1 {
    font-weight: 700; }
  .headline--2 {
    font-weight: 700; }
  .headline--3 {
    color: #043657; }
    .headline--3--bold {
      font-weight: 700; }
  .headline--4 {
    letter-spacing: 0.7px;
    color: #424c5d; }

/* --------------------
    ARTICLE HEADLINE PLACEHOLDERS
----------------- */
.article-headline--1, .article-headline--5 {
  font-size: 4.6rem; }
  @media only screen and (max-width: 64em) {
    .article-headline--1, .article-headline--5 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 48em) {
    .article-headline--1, .article-headline--5 {
      font-size: 2.875rem; } }

.article-headline--2 {
  font-size: 4.7rem; }
  @media only screen and (max-width: 64em) {
    .article-headline--2 {
      font-size: 3.6rem; } }
  @media only screen and (max-width: 48em) {
    .article-headline--2 {
      font-size: 2.975rem; } }

.article-headline--3 {
  font-size: 2.3rem; }
  @media only screen and (max-width: 64em) {
    .article-headline--3 {
      font-size: 2rem; } }
  @media only screen and (max-width: 48em) {
    .article-headline--3 {
      font-size: 2.475rem; } }

.article-headline--4 {
  font-size: 2.6rem; }
  @media only screen and (max-width: 64em) {
    .article-headline--4 {
      font-size: 2.3rem; } }
  @media only screen and (max-width: 48em) {
    .article-headline--4 {
      font-size: 2.775rem; } }

.article-headline--6 {
  font-size: 3.6rem; }
  @media only screen and (max-width: 64em) {
    .article-headline--6 {
      font-size: 4rem; } }
  @media only screen and (max-width: 48em) {
    .article-headline--6 {
      font-size: 3rem; } }

/* --------------------
    .article-headline
----------------- */
.article-headline--1 {
  font-family: "Microgramma_Com";
  font-weight: 800;
  letter-spacing: 0.92px;
  color: #8cc6ec; }

.article-headline--2 {
  font-family: "OpenSans";
  font-weight: 400;
  letter-spacing: 0.92px;
  color: #424c5d; }

.article-headline--3 {
  font-family: "OpenSans";
  font-weight: 800;
  letter-spacing: 2.3px;
  color: #0c1a2d; }

.article-headline--4 {
  font-family: "OpenSans";
  font-weight: 800;
  letter-spacing: 0.56px;
  color: #0c1a2d; }

.article-headline--5 {
  font-family: "OpenSans";
  font-weight: 400;
  color: #043657; }

.article-headline--6 {
  font-family: "OpenSans";
  font-weight: 400;
  letter-spacing: 0.72px;
  color: #1e439b; }

/* --------------------
    PARAGRAPHS PLACEHOLDERS
----------------- */
.para--1 {
  font-size: 2rem; }
  @media only screen and (max-width: 64em) {
    .para--1 {
      font-size: 2rem; } }
  @media only screen and (max-width: 48em) {
    .para--1 {
      font-size: 2rem; } }

.para--2 {
  font-size: 2.2rem; }
  @media only screen and (max-width: 64em) {
    .para--2 {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 48em) {
    .para--2 {
      font-size: 2.2rem; } }

/* --------------------
    para
----------------- */
.para {
  font-family: "OpenSans";
  font-weight: 400;
  color: #333; }
  .para--1 {
    letter-spacing: 0.63px; }
  .para--2 {
    font-weight: 800;
    letter-spacing: 2.2px; }

/* --------------------
        disclaimer
----------------- */
.disclaimer {
  font-size: var(--disclaimer-text); }
  .disclaimer-container {
    margin-top: 20px;
    text-align: center; }
  .disclaimer__link {
    color: inherit;
    text-decoration: none; }
    .disclaimer__link:hover {
      text-decoration: underline; }

/* COMPONENTS
================================================> */
/*-------------------- 
    Anchors
-----------------*/
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out; }

a:hover {
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

/*-------------------- 
    container
-----------------*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (min-width: 1800px) {
  .container {
    max-width: 1240px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

/*-------------------- 
    FORM
-----------------*/
.form-group {
  margin-bottom: 1rem; }

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: 2.3rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none; } }

.form-control::-ms-expand {
  background-color: transparent;
  border: 0; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*-------------------- 
        ICONS
-----------------*/
.icon {
  max-width: 20px;
  width: 20px;
  max-height: 20px;
  height: 20px;
  fill: var(--color-2); }

.icon-box {
  display: inline-flex;
  align-items: center; }
  .icon-box-phone {
    margin-right: 40px; }
  .icon-box-social:not(:last-of-type) {
    margin-right: 10px; }
  .icon-box__anchor {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--color-2);
    text-decoration: none; }
    .icon-box__anchor:hover {
      text-decoration: underline; }
  .icon-box__icon {
    max-width: 50px;
    margin-right: 10px; }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  appearance: none;
  opacity: 1;
  outline: none;
  white-space: nowrap; }

.bottom-form {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  /* Tablet Portrait max-width:992px !font-size: 8px; */
  /* Large Phone max-width:767px  !font-size: 8px;*/ }
  @media only screen and (max-width: 62em) {
    .bottom-form {
      min-height: 500px; } }
  @media only screen and (max-width: 48em) {
    .bottom-form {
      min-height: 600px; } }
  .bottom-form__row {
    display: flex; }
  .bottom-form__top {
    position: relative;
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    /* Tablet Landscape max-width:1200px !font-size: 9px; */
    /* Tablet Portrait max-width:992px !font-size: 8px; */
    /* Large Phone max-width:767px  !font-size: 8px;*/
    /* MD - SM Phone max-width:576px !font-size: 8px;**/ }
    .bottom-form__top > *:not(:last-child) {
      margin-bottom: 30px; }
    @media only screen and (max-width: 64em) {
      .bottom-form__top {
        max-width: 100%;
        flex: 0 0 100%; } }
    @media only screen and (max-width: 62em) {
      .bottom-form__top {
        min-height: 400px;
        justify-content: space-evenly; } }
    @media only screen and (max-width: 48em) {
      .bottom-form__top {
        min-height: 375px; } }
    @media only screen and (max-width: 36.125em) {
      .bottom-form__top {
        min-height: 450px; } }
  .bottom-form__form {
    display: flex;
    /* Tablet Portrait max-width:992px !font-size: 8px; */ }
    @media only screen and (max-width: 62em) {
      .bottom-form__form {
        flex-direction: column; } }
  .bottom-form__group {
    max-width: 25%;
    flex: 0 0 25%;
    padding-right: 5px;
    /* Tablet Portrait max-width:992px !font-size: 8px; */ }
    @media only screen and (max-width: 62em) {
      .bottom-form__group {
        max-width: 100%;
        flex: 0 0 100%; } }
  .bottom-form-headline {
    align-self: center;
    line-height: 1;
    /* Tablet Portrait max-width:992px !font-size: 8px; */ }
    @media only screen and (max-width: 62em) {
      .bottom-form-headline {
        text-align: center; } }

/* LAYOUT
================================================> */
.footer__bottom {
  min-height: 200px;
  background-color: #000;
  color: var(--color-1);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  text-align: center; }
  .footer__bottom__row {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .footer__bottom__powered-by {
    display: flex;
    justify-content: space-evenly; }
  .footer__bottom__university-logo-img {
    max-width: 100px;
    width: 100px; }
  .footer__bottom__hackeru-logo-img {
    max-width: 60px;
    width: 60px; }
  .footer__bottom__privacy-link {
    color: #fff;
    text-decoration: underline; }

/* PAGES
================================================> */
