/* ABSTRACTS
================================================> */
/*-------------------- 
        FLUID TYPE 
        REFERER: https://css-tricks.com/snippets/css/fluid-typography/
-----------------*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- xs
- sm
- md
- lg
- xl

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* BASE
================================================> */
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  line-height: 1.2; }
  body {
    font-size: 16px; }
    @media screen and (min-width: 300px) {
      body {
        font-size: calc(16px + 10 * ((100vw - 300px) / 1500)); } }
    @media screen and (min-width: 1800px) {
      body {
        font-size: 26px; } }

/*-------------------- 
        Font To Import
        Resource: https://font-display.glitch.me/
        Note:
        This depends a lot on how you are using your webfont, and whether rendering the text in a fallback font makes sense. For example, if you're rendering the main body text on a site, you should use font-display:optional. On browsers that implement it (all modern browsers at the time of updating this article in 2019) the experience will be much nicer: your users will get fast content, and if the web font download takes too long, they won't get a page relayout halfway through reading your article.
        If you're using a web font for icons, there is no acceptable fallback font you can render these icons in (unless you're using emoji or something), so your only option is to completely block until the font is ready, with font-display:block.
-----------------*/
/*-------------------- 
        Placeholders
-----------------*/
.article-paragraph {
  font-size: 1.8rem;
  /* Tablet Landscape max-width:1200px !font-size: 9px; */
  /* Large Phone max-width:767px  !font-size: 8px;*/ }
  @media only screen and (max-width: 75em) {
    .article-paragraph {
      font-size: var(--md-article-text); } }
  @media only screen and (max-width: 47.93em) {
    .article-paragraph {
      font-size: var(--sm-article-text); } }

/*-------------------- 
        article-paragraph
-----------------*/
.article-paragraph {
  margin-top: 20px;
  line-height: 1.2;
  color: var(--color-6); }

/*-------------------- 
        disclaimer
-----------------*/
.disclaimer {
  font-size: var(--disclaimer-text);
  color: var(--color-6); }
  .disclaimer__link {
    color: inherit;
    text-decoration: none; }
    .disclaimer__link:hover {
      text-decoration: underline; }
  .disclaimer--2 {
    color: var(--color-1); }

/* COMPONENTS
================================================> */
/*-------------------- 
    Anchors
-----------------*/
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out; }

a:hover {
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

/*-------------------- 
    container
-----------------*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (min-width: 1800px) {
  .container {
    max-width: 1240px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

/*-------------------- 
    FORM
-----------------*/
.form-group {
  margin-bottom: 1rem; }

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: 2.3rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none; } }

.form-control::-ms-expand {
  background-color: transparent;
  border: 0; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*-------------------- 
        ICONS
-----------------*/
.icon {
  max-width: 20px;
  width: 20px;
  max-height: 20px;
  height: 20px;
  fill: var(--color-2); }

.icon-box {
  display: inline-flex;
  align-items: center; }
  .icon-box-phone {
    margin-right: 40px; }
  .icon-box-social:not(:last-of-type) {
    margin-right: 10px; }
  .icon-box__anchor {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--color-2);
    text-decoration: none; }
    .icon-box__anchor:hover {
      text-decoration: underline; }
  .icon-box__icon {
    max-width: 50px;
    margin-right: 10px; }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
  appearance: none;
  opacity: 1; }

.bottom-form {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  /* Tablet Portrait max-width:992px !font-size: 8px; */
  /* Large Phone max-width:767px  !font-size: 8px;*/ }
  @media only screen and (max-width: 62em) {
    .bottom-form {
      min-height: 500px; } }
  @media only screen and (max-width: 47.93em) {
    .bottom-form {
      min-height: 600px; } }
  .bottom-form__row {
    display: flex; }
  .bottom-form__top {
    position: relative;
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    /* Tablet Landscape max-width:1200px !font-size: 9px; */
    /* Tablet Portrait max-width:992px !font-size: 8px; */
    /* Large Phone max-width:767px  !font-size: 8px;*/
    /* MD - SM Phone max-width:576px !font-size: 8px;**/ }
    .bottom-form__top > *:not(:last-child) {
      margin-bottom: 30px; }
    @media only screen and (max-width: 75em) {
      .bottom-form__top {
        max-width: 100%;
        flex: 0 0 100%; } }
    @media only screen and (max-width: 62em) {
      .bottom-form__top {
        min-height: 400px;
        justify-content: space-evenly; } }
    @media only screen and (max-width: 47.93em) {
      .bottom-form__top {
        min-height: 375px; } }
    @media only screen and (max-width: 36.125em) {
      .bottom-form__top {
        min-height: 450px; } }
  .bottom-form__form {
    display: flex;
    /* Tablet Portrait max-width:992px !font-size: 8px; */ }
    @media only screen and (max-width: 62em) {
      .bottom-form__form {
        flex-direction: column; } }
  .bottom-form__group {
    max-width: 25%;
    flex: 0 0 25%;
    padding-right: 5px;
    /* Tablet Portrait max-width:992px !font-size: 8px; */ }
    @media only screen and (max-width: 62em) {
      .bottom-form__group {
        max-width: 100%;
        flex: 0 0 100%; } }
  .bottom-form-headline {
    align-self: center;
    line-height: 1;
    /* Tablet Portrait max-width:992px !font-size: 8px; */ }
    @media only screen and (max-width: 62em) {
      .bottom-form-headline {
        text-align: center; } }

/* LAYOUT
================================================> */
.footer__bottom {
  min-height: 200px;
  background-color: #000;
  color: var(--color-1);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  text-align: center; }
  .footer__bottom__row {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .footer__bottom__powered-by {
    display: flex;
    justify-content: space-evenly; }
  .footer__bottom__university-logo-img {
    max-width: 100px;
    width: 100px; }
  .footer__bottom__hackeru-logo-img {
    max-width: 60px;
    width: 60px; }
  .footer__bottom__privacy-link {
    color: #fff;
    text-decoration: underline; }

/* PAGES
================================================> */
